<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Committee</title>
    <script src="js/error.js" defer></script>
    <script src="js/slide.js" defer></script>
    <script src="js/division-fields.js" defer></script>
    <script src="js/div-edit-button.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
    

    <!-- SERVER PORT IS 3004 : DIGITAL OCEAN YOUR IP : 3004 -->
</head>
<body>
    <!-- For later -->
    <%- include('partials/header') %>
    
    <div class ="edit-division-container">
        <fieldset>
            <div class="title-row">
                <h3>Edit</h3>
                <img src="images/edit.png" alt="Toggle Details" class="toggle-button-edit">
            </div>
            <!-- Form -->
            <div class="details hidden">
                <form id="loc-form" action="submit-division" method="post">
                    <fieldset id="division-dropdown">
                    <label>Division</label>
                        <select id ="division" name="division">
                            <option value="Select">Select</option>
                            <option value="Fine Arts">Fine Arts</option>
                            <option value="Humanities">Humanities</option>
                            <option value="Social Science">Social Science</option>
                            <option value="English">English</option>
                            <option value="Science">Science</option>
                            <option value="Business, Law, and Education">Business, Law, and Education</option>
                            <option value="Technology">Technology</option>
                            <option value="Health Science">Health Science</option>
                            <option value="Trades">Trades</option>
                            <option value="Transitional Studies">Transitional Studies</option>
                        </select>
                    </fieldset>

                    <fieldset id="info">
                        <input type="hidden" id="division_id" name="division_id">
                        <div class="division-name">
                            <!-- CHanged academic program to division-->
                            <label for="divName">Division  : <input type="text" id="divName" name="divName"> </label>
                            <span id="err-div" class ="error">Division can't be blank</span>
                        </div>
                        <div class="chair">
                            <label for="chair">Chair : <input type="text" id="chair" name="chair"></label>
                            <span id="err-chair" class ="error">Chair can't be blank</span>
                        </div>
                        <div class="dean">
                            <label for="dean">Dean : <input type="text" id="dean" name="dean"></label>
                            <span id="err-dean" class ="error">Dean can't be blank</span>
                        </div>
                        <div class="loc">
                            <label for="loc">LOC Rep : <input type="text" id="loc" name="loc"> </label>
                            <span id="err-loc" class ="error">LOC can't be blank</span>
                        </div>
                        
                        <div class="pen">
                            <label for="pen">PEN Contact : <input type="text" id="pen" name="pen"> </label>
                            <span id="err-pen" class ="error">PEN can't be blank</span>
                        </div>
                    </fieldset>
                    <fieldset id="buttons">
                        <button type="submit" id="save">Save</button>
                        <button type="reset" id="cancel">Cancel</button>
                    </fieldset>
                </form>
            </div>
        </fieldset>
    </div>
    <!-- THIS IS NOW IN THE WORKS 11/23/2025

    Contemplating putting the table here so we can see what it looks like now with the table given.
        
    TODO: team meeting this part is totally optional right now. 
    -->
    
    <div id="information-container">
    <% division.forEach(d => { %>
    <fieldset>
        <div class="title-row">
            <h3><%= d.division_name %></h3>
            <img src="images/angle_up.png" alt="Toggle Details" class="toggle-button">
        </div>

        <div class="details hidden">
            <ol>
                <li>Chair: <%= d.chair %></li>
                <li>Dean: <%= d.dean %></li>
                <li>LOC Rep: <%= d.loc_rep %></li>
                <li>PEN Contact: <%= d.pen %></li>
            </ol>
        </div>
    </fieldset>
    <% }) %>
</div>
</body>
</html>