<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Committee</title>
    <script src="js/error.js" defer></script>
    <script src="js/loc.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>

    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">

    <!-- SERVER PORT IS 3004 : DIGITAL OCEAN YOUR IP : 3004 -->
</head>
<body class="summary">
    <h1>LOC Page</h1>
    <h2><a href = "/">To Form changes</a></h2>
        <table id = "loc-table" class = "display">
            <thead>
                <tr>
                    <th>Division</th>
                    <th>program</th>
                    <th>Chair</th>
                    <th>Dean</th>
                    <th>LOC Rep</th>
                    <th>Contact</th>
                    <th>Payee</th>
                    <th>Paid</th>
                    <th>Submitted</th>
                    <th>Notes</th>
                    <th>Last Updated</th>
                    <th></th> <!-- figure out how to get rid of order arrows on web page-->
                </tr>
            </thead>
            <tbody>
                <% fields.forEach(field => { %>
                    <tr>
                        <td><%= field.division %></td>
                        <td><%= field.program %></td>
                        <td><%= field.chair %></td>
                        <td><%= field.dean %></td>
                        <td><%= field.loc %></td>
                        <td><%= field.contact %></td>
                        <td><%= field.payee %></td>
                        <td><%= field.paid %></td>
                        <td><%= field.submitted %></td>
                        <td><%= field.note %></td>
                        <td><%= field.timestamp || "" %></td>
                        <td><button type="button" onclick="rowSelect('<%= field.program %>')">Edit</button></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <script defer>
        let table = new DataTable('#loc-table');
    </script>
    <form id="loc-form" action="submit-button" method="post">
        <fieldset id="division-fields">
            <legend>Division</legend>
            <div class="chair">
                <label for="chair">Chair : <input type="text" id="chair" name="chair"> </label>
                <span id="err-chair" class ="error">Chair can't be blank</span>
            </div>
            <div class="dean">
                <label for="dean">Dean : <input type="text" id="dean" name="dean"> </label>
                <span id="err-dean" class ="error">Dean can't be blank</span>
            </div>
            <div class="loc">
                <label for="loc">LOC Rep : <input type="text" id="loc" name="loc"> </label>
                <span id="err-loc" class ="error">LOC can't be blank</span>
            </div>
            <div class="pen">
                <label for="pen">PEN Contact : <input type="text" id="pen" name="pen"> </label>
                <span id="err-pen" class ="error">PEN can't be blank</span>
            </div>
        </fieldset>

        <fieldset id="program-fields">
            <legend>Program</legend>
            <div class="division">
                <label for="divname">Division : <input type="text" id="div-name" name="div-name"> </label>
                <span id="err-div" class ="error">Division can't be blank</span>
            </div>
            <div class="payee">
                <label for="payee">Payee : <input type="text" id="payee" name="payee"></label>
            </div>
            <div class="paid">
                <label for="paid">Paid : <input type="text" id="paid" name="paid"></label>
            </div>
            <div class="submitted">
                <label for="submitted">Report Submitted : <input type="text" id="submitted" name="submitted"></label>
            </div>
            <div class="notes">
                <label for="notes">Notes : <input type="text" id="notes" name="notes"></label>
            </div>
        </fieldset>

        <fieldset id="buttons">
            <button type="submit" id="save">Save</button>
            <button type="reset" id="cancel">Cancel</button>
        </fieldset>

    </form>
</body>
</html>