<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Committee</title>
    <script src="js/error.js" defer></script>
    <!--<script src="js/loc.js" defer></script>-->
    <link rel="stylesheet" href="styles/styles.css">
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
</head>
<body class="summary">

    <!-- Include header partial -->
    <%- include('partials/header') %>


    <table id="loc-table" class="display">
        <thead>
            <tr>
                <th>Division</th>
                <th>Chair</th>
                <th>Dean</th>
                <th>LOC Rep</th>
                <th>Contact</th>
                <th>Program</th>
                <th>Payee</th>
                <th>Paid</th>
                <th>Submitted</th>
                <th>Notes</th>
                <th>Last Updated</th>
                <th></th> <!-- Edit button column -->
            </tr>
        </thead>
        <tbody>
            <% fields.forEach(field => { %>
                <tr>
                    <td><%= field.DivisionName %></td>
                    <td><%= field.DivisionChair %></td>
                    <td><%= field.Dean %></td>
                    <td><%= field.LOCRep %></td>
                    <td><%= field.PENContact %></td>
                    <td><%= field.ProgramName %></td>
                    <td><%= field.Payees %></td>
                    <td><%= field.HasBeenPaid %></td>
                    <td><%= field.ReportSubmitted %></td>
                    <td><%= field.Notes %></td>
                    <td><%= field.timestamp ? field.timestamp.toLocaleString() : "" %></td>
                    <td><button type="button" onclick="rowSelect('<%= field.ProgramName %>')">Edit</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script defer>
        // Initialize DataTable
        let table = new DataTable('#loc-table', {
            "order": [],
            "columnDefs": [{ "orderable": false, "targets": 11 }]
        });
    </script>

    <form id="loc-form" action="submit-button" method="post">
        <fieldset id="division-fields">
            <legend id="divLegend">Division Info</legend>
            <div class="division">
                <label for="divName">Name : <input type="text" id="divName" name="divName"> </label>
                <span id="err-div" class ="error">Division can't be blank</span>
            </div>
            <input type="hidden" id="oldDivName" name="oldDivName" >
            <div class="chair">
                <label for="chair">Chair : <input type="text" id="chair" name="chair"> </label>
                <span id="err-chair" class ="error">Chair can't be blank</span>
            </div>
            <div class="dean">
                <label for="dean">Dean : <input type="text" id="dean" name="dean"> </label>
                <span id="err-dean" class ="error">Dean can't be blank</span>
            </div>
            <div class="loc">
                <label for="loc">LOC Rep : <input type="text" id="loc" name="loc"> </label>
                <span id="err-loc" class ="error">LOC can't be blank</span>
            </div>
            <div class="pen">
                <label for="pen">PEN Contact : <input type="text" id="pen" name="pen"> </label>
                <span id="err-pen" class ="error">PEN can't be blank</span>
            </div>
        </fieldset>

        <fieldset id="program-fields">
            <legend id="programLegend">Program</legend>
            <div class="program">
                <label for="programName">Name : <input type="text" id="programName" name="programName"> </label>
                <span id="err-program" class ="error">Program can't be blank</span>
            </div>
            <input type="hidden" id="oldProgramName" name="oldProgramName" >
            <div class="payee">
                <label for="payee">Payee : <input type="text" id="payee" name="payee"></label>
            </div>
            <div class="paid">
                <label for="paid">Paid : <input type="text" id="paid" name="paid"></label>
            </div>
            <div class="submitted">
                <label for="submitted">Report Submitted : <input type="text" id="submitted" name="submitted"></label>
            </div>
            <div class="notes">
                <label for="notes">Notes : <input type="text" id="notes" name="notes"></label>
            </div>
        </fieldset>

        <fieldset id="buttons">
            <button type="submit" id="save">Save</button>
            <button type="reset" id="cancel">Cancel</button>
        </fieldset>
    </form>
</body>
</html>