<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Outcomes Committee</title>
    <script src="js/error.js" defer></script>
    <script src="js/edit-fix.js" defer></script>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/program-fields.js" defer></script>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
</head>
<body class="summary">

    <!-- Include header partial -->
    <%- include('partials/header') %>


    <table id="loc-table" class="display">
        <thead>
            <tr>
                <th>Division</th>
                <th>Program</th>
                <th>Chair</th>
                <th>Dean</th>
                <th>LOC Rep</th>
                <th>Contact</th>
                <th>Payee</th>
                <th>Paid</th>
                <th>Submitted</th>
                <th>Notes</th>
                <th>Last Updated</th>
                <th></th> <!-- Edit button column -->
            </tr>
        </thead>
        <tbody>
            <% fields.forEach(field => { %>
                <tr data-programid="<%= field.ProgramID %>">
                    <td><%= field.DivisionName %></td>
                    <td><%= field.ProgramName %></td>
                    <td><%= field.DivisionChair %></td>
                    <td><%= field.Dean %></td>
                    <td><%= field.LOCRep %></td>
                    <td><%= field.PENContact %></td>
                    <td><%= field.Payees %></td>
                    <td><%= field.HasBeenPaid %></td>
                    <td><%= field.ReportSubmitted %></td>
                    <td><%= field.Notes %></td>
                    <td><%= field.timestamp ? field.timestamp.toLocaleString() : "" %></td>
                    <td><button type="button" onclick="rowSelect(<%= field.ProgramID %>)">Edit</button></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script defer>
        // Initialize DataTable
        let table = new DataTable('#loc-table', {
            "order": [],
            "columnDefs": [{ "orderable": false, "targets": 11 }]
        });
    </script>

    <div id="edit-form-container" class="hidden">
    <form id="edit-form" action="submit-button" method="post">
        <input type="hidden" id="editProgramID" name="ProgramID">
        <label>Division: <input type="text" id="editDivisionName" name="DivisionName"></label>
        <span id="err-div" class ="error">Division can't be blank</span>
        <label>Program: <input type="text" id="editProgramName" name="ProgramName"></label>
        <span id="err-program" class ="error">program can't be blank</span>
        <label>Chair: <input type="text" id="editChair" name="DivisionChair"></label>
        <span id="err-chair" class ="error">Chair can't be blank</span>
        <label>Dean: <input type="text" id="editDean" name="Dean"></label>
        <span id="err-dean" class ="error">Dean can't be blank</span>
        <label>LOC Rep: <input type="text" id="editLOC" name="LOCRep"></label>
        <span id="err-loc" class ="error">LOC can't be blank</span>
        <label>PEN Contact: <input type="text" id="editPEN" name="PENContact"></label>
        <span id="err-pen" class ="error">PEN can't be blank</span>
        <label>Payees: <input type="text" id="editPayees" name="Payees"></label>
        <label>Has Been Paid:
        <select id="editPaid" name="HasBeenPaid">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        </label>
        <label>Report Submitted:
        <select id="editSubmitted" name="ReportSubmitted">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        </label>
        <label>Notes: <textarea id="editNotes" name="Notes"></textarea></label>
        <button type="submit">Update</button>
        <button type="button" onclick="closeEditForm()">Cancel</button>
    </form>
    </div>
    </body>
</html>